@charset "UTF-8";   
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #89CDA5;
}

p{
    padding: 10px;
    text-align: justify;
}
strong{
    color: #1A5A37;
    text-shadow: 0px 5px 5px 5px black;
}

@font-face{
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

.idroid{
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #1A5A37;
}

h1{
    text-align: center;
}

h2{
    background-image: linear-gradient(to right, #8ACDA6, #98D4B1, #ABDCBF , #C9E8D5, #DFF1E6, #F4FAF6 );
    border-radius: 10px;
    padding-left: 10px;
}

a{
    text-decoration: none;
    color: #1A5A37;
    font-weight: bolder;
    padding-left: 3px;
}
a:hover{
    color: white;
    background-color: #1A5A37;
    transition-duration: 0.5s;
}

header{
    background-image: linear-gradient( rgb(91, 188, 124), #4BA56B, #398958, #1A5A37, #1A5A37);
    color: white;
    text-align: center;
    padding: 10px;
    height: 110px;
}

header > p{
    padding: 16px;
    text-align: center;
} 

.heade{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px #1A5A37;
}

nav{
    background-image: linear-gradient( #1A5A37, #1A5A37);
    padding: 10px;
    text-shadow: 1px 1px 1px black;
}
nav > a:hover{
    background-color: #5CBE7D;
    border-radius: 5px;
    transition-duration: 0.8s;
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 10px;
}

main{
    min-width: 300px;
    max-width: 840px;
    margin: auto;   
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}


.img{
    width: 100%;
  
}

.imgpq{
    width: 50%;
    display: block;
    margin: auto;
}

#video{
    width: 100%;
    display: block;
    margin: auto;
}
aside{
    padding: 50px;
}
.menor{
    margin: none;
}

source{
    align-items: center;
}

h3{
    background-color: #2FA866;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
#curisidade{   
    background-color: #C5EBD6;
    box-shadow: 0px 0px 2px black;
}
ul{
    text-decoration: dotted;
}

#contato{
    color: white;
    background-color: #1A5A37;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
    padding: 4px;
}

.boxbranca{
    color: white;
    background-color: #1A5A37;
}

footer > a:hover{
    color: black;
    background-color: white;
    transition-duration: 0.5s
}

ul{
    padding-left: 80px;
}